supportedArchitectures.os[] = "darwin"
supportedArchitectures.os[] = "linux"
supportedArchitectures.cpu[] = "arm64"
supportedArchitectures.cpu[] = "x64"
supportedArchitectures.libc[] = "unknown"
supportedArchitectures.libc[] = "glibc"
supportedArchitectures.libc[] = "musl"
